#container {
  position: relative;
  background: green;
  width: 420px;
  height: 420px;
  z-index: -1;
}

#myBox {
  position: absolute;
  background: red;
  width: 30px;
  height: 30px;
}

#gate {
  position: absolute;
  background: rgba(255, 0, 255, 1);
  width: 30px;
  height: 30px;
}

#key {
  position: absolute;
  background: blue;
  width: 30px;
  height: 30px;
}

#ammo {
    position: absolute;
    width: 10px;
    height: 10px;
}

