#level {
    height: 420px;
    width: 420px;
    background-color: black;
}
#box {
  height: 30px;
  width: 30px;
  background-color: yellow;
}

#gate {
    position: absolute;
    background: green;
    width: 30px;
    height: 30px;
}
  
#key {
    position: absolute;
    background: blue;
    width: 30px;
    height: 30px;
}